.listWrapper {
  margin: 10px 0 0;
}

.feedbackList {
  list-style: none;
}

.feedbackListItem:not(:last-child) {
  margin-bottom: 5px;
}

.feedbackListItem:nth-last-child(-n + 2) {
    font-weight: 700;
}